@model Test2.viewModels.UserVM

@{
    ViewBag.Title = "User";
}
    <body style="background-image: url(../../Img/banner.png); background-size: cover;">
        <div class="panel panel-default" style="width: 46%; margin: 20% 27%; border-color: #17A2B8; text-align: center;">
            <div class="panel-heading" style="height: 80px; font-size: 28px;color:white; background-color: #17A2B8"><p style="margin-top: 10px">Let's Begin Online Aptitude Test</p></div>
            <div class="panel-body">

                @using (Html.BeginForm("GetUser", "Quizz", FormMethod.Post))
                {
                    @Html.EditorFor(c => c.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username ", @style = "width:100%; height: 40px; margin-left: 22%;" } })<br />

                    @Html.EditorFor(c => c.Pass, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password ", @style = "width:100%; height: 40px; margin-left: 22%;",@type="Password" } })<br />                 
                   <button type="submit" id="Enter" class="btn btn-info btn-lg" style="width:40%; font-size:20px"><span class="glyphicon glyphicon-off" style="font-size:18px"></span>    Log In</button>
                }

            </div>

            @if (ViewBag.Msg != null)
            {
                <div class="well well-sm well-danger"> @ViewBag.Msg </div>
            }
        </div>
    </body>