@model IQueryable<Test2.viewModels.QuestionVM>
@using Test2.viewModels
@{
    int count = 1, countR = 0;
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<div class="container">
    <!-- User Info -->
    <div class="userConnected" style="border:2px dashed #cecaca; border-radius: 10px; margin-top: 3%;">
        @{ Html.RenderPartial("_UserInfo");}
    </div>
    <div class="Quiz">

        <div>
            <span id="timerText"></span>
            <span style="float: right;" id="lbresult"></span>
        </div>

        @{ UserVM userConnected = Session["UserConnected"] as UserVM; }

        <h4 style="margin-top: 4%;"> <span class="label label-info">Questions :</span> </h4>
        @if (Model != null && Model.Any())
        {

            <span id="userId" style="display:none;">@userConnected.UserID</span>

            foreach (var question in Model)
            {
                <div class="BlockQ" style="border: 1px solid #bdbdbd; width: 75%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">
                    <div class="Question" style="padding: 2%;">
                        <span class="label label-warning"> @string.Format("{0}{1}.", "Q", count)</span>
                        <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QuestionID</span>
                        <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "Q", count)">@question.QuestionText</p>
                    </div>
                    <div class="Choices" style="margin-left: 8%;">
                        @foreach (var choice in question.Choices)
                        {
                            <label class="radio-inline">
                                <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@choice.ChoiceText" style="margin-left: -16px;"> @choice.ChoiceText
                            </label><br />
                            countR++;
                        }
                    </div> <!--END Choices-->

                    <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">

                    </div>
                </div> <!-- END BlockQ -->
                count++;
            }
            <span id="countQuections" style="display:none;">@count</span>
            <button type="button" id="SubmitQuiz" class="btn btn-default" style="margin-top: 10px;"><span class="glyphicon glyphicon-ok"></span>   Submit Quiz </button>

            
        }
    </div> <!-- END QUIZ -->
</div> <!-- END CONTAINER -->
@section MyScritps
{
    <script type="text/javascript">

        //Set the number of minutes you need
        var mins = 0.2;
        var secs = mins * 8000;
        var currentSeconds = 0;
        var currentMinutes = 0;
        var ourtimer;

        function StartCountDown() {
            ourtimer = setTimeout(Decrement, 1000);
        }

        function EndCountDown() {
            clearTimeout(ourtimer);
        }

        @*function jQueryAjaxPost() {

            var resultScore = {
                ResultID : '1',
                Score : '1',
                CandidateID : '1'
            };

            if (resultScore != null) {
                var ajaxConfig = {
                    type: 'POST',
                    url: '@Url.Action("GradePoint", "Quizz")',
                    data: { resultScore },
                    success: function (response) {
                        if (response.success) {
                            alert("Success");
                        }
                        else {
                            alert("Something Wrong");
                        }
                    },
                    error: function (response) {

                    }
                }
                $.ajax(ajaxConfig);

            }
            return false;
        }*@

        @*function jQueryAjaxPost() {

            var userVM = {
                UserID: $('#userId').text(),
                Score: '10'
            };

            if (userVM != null) {
                var ajaxConfig = {
                    type: 'POST',
                    url: '@Url.Action("GradePoint", "Quizz")',
                    data: { userVM },
                    success: function (response) {
                        if (response.success) {
                            alert("Success");
                        }
                        else {
                            alert("Something Wrong xxx " + response.error);
                        }
                    },
                    error: function (response) {
                        alert("Something Wrong x " + response);
                    }
                }
                $.ajax(ajaxConfig);

            }
            return false;
        }*@

        function Decrement() {
            currentMinutes = Math.floor(secs / 60);
            currentSeconds = secs % 60;
            if (currentSeconds <= 9) currentSeconds = "0" + currentSeconds;
            secs--;
            document.getElementById("timerText").innerHTML = "Time Remaining " + currentMinutes + ":" + currentSeconds;
            if (secs !== -1) {
                setTimeout('Decrement()', 1000);
            } else {
                window.location.href = "GetUser"
            }
        }

        $(document).ready(function () {

            //var userIdAlert = $('#userId').text();
            //alert(userIdAlert);

            //start countdown
            StartCountDown();

            $('#SubmitQuiz').on('click', function () {

                //end countdown
                EndCountDown();

                //count Questions
                var sel = $('#countQuections').text();

                //tinh diem
                var score = 0;

                console.log(sel);

                var resultQuiz = [], countQuestion = parseInt(sel), question = {}, j = 1;

                for (var i = 1; i < countQuestion; i++) {
                    question = {
                        QuestionID: $('#ID_Q'+ i).text(),
                        QuestionText: $('#Q' + i).text(),
                        AnswerQ: $('input[name=inlineRadioOptions' + i + ']:checked').val()
                    }

                    resultQuiz.push(question);
                }

                $.ajax({

                    type: 'POST',
                    url: '@Url.Action("QuizTest", "Quizz")',
                    data: { resultQuiz },

                    success: function (response) {

                        if (response.result.length > 0)
                        {
                            for(var i = 0; i <response.result.length; i++ )
                            {
                                if(response.result[i].isCorrect == true)
                                {
                                    score++;

                                    $('#AnsQ' + j).html('<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Correct answer</div>');
                                }
                                else
                                {
                                    $('#AnsQ' + j).html('<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Incorrect answer - The Correct Answer is <b>' + response.result[i].AnswerQ + '</b></div>');
                                }
                                j++;
                            }

                            var userVM = {
                                UserID: $('#userId').text(),
                                Score: score
                            };
                            $.ajax({
                                type: 'POST',
                                url: '@Url.Action("GradePoint", "Quizz")',
                                data: { userVM },

                                success: function (response) {

                                    if (response.success) {
                                        alert("Success");
                                    }
                                    else {
                                        alert("Something Wrong " + response.message);
                                    }

                                    EndCountDown();
                                },
                                error: function (response) {

                                }
                            });

                        }
                        else
                        {
                            alert("Something Wrong");
                        }

                        //alert("Your score is " + score);
                        $("#lbresult").text("Final Result : " + score);
                        $("#SubmitQuiz").attr("disabled", "disabled"); //disable button if all questions answer has been given
                        $("#SubmitQuiz").removeClass("btn");
                        $("#SubmitQuiz").addClass("btndiabled");

                        $("#timerText").css("display", "none");
                        $("input[type=radio]").attr('disabled', true); //disable all radio button after test submitted by user
                        //return false;
                        //console.log(response.result.length);

                    },
                    error: function (response) {

                    }
                });

                console.log(resultQuiz);
                //jQueryAjaxPost();

            });



        });

    </script>
    
}


