﻿@model OnlineBusTicket.Models.Employee

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Emp_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
