﻿@model Test2.Models.QUESTION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QUESTION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QUESTION_TEXT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUESTION_TEXT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Point)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Point)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXAM_SUBJECT1.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXAM_SUBJECT1.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QUESTION_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
