﻿@model IEnumerable<Test2.Models.QUESTION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QUESTION_TEXT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXAM_SUBJECT1.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QUESTION_TEXT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXAM_SUBJECT1.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QUESTION_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.QUESTION_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QUESTION_ID })
        </td>
    </tr>
}

</table>
