﻿@model OnlineBusTicket.Models.Customer_Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer_Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Order_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Cust_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Cust_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket.Ticket_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.Ticket_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Customer_Order_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
