﻿@model IEnumerable<Test2.Models.EXAM_SUBJECT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUBJECT_DESCRIPTION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUBJECT_DESCRIPTION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SUBJECT_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SUBJECT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SUBJECT_ID })
        </td>
    </tr>
}

</table>
