﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">

        .Choices label {
            background-color: #e0dfdf;
            padding: 7px 20px;
            border-radius: 10px;
            display: inline-block;
            margin-bottom: 8px;
            font-weight: bold;
            border: 1px solid #d0c9c9;
        }

        div .answer, .radio-inline {
            font-weight: bold;
        }
    </style>

</head>
<body>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("MyScritps", required: false)

</body>
</html>
