@model IQueryable<Test2.viewModels.QuestionVM>
@{
    int count = 1, countR = 0;
    Layout = "~/Views/Shared/_myLayoutPage.cshtml";
}

<div class="container">
    <!-- User Info -->
    <div style="width: 85%; font-size: 50px; color: #f90e0e; text-align: center">Good Luck !</div>
    <div class="userConnected" style="width: 90%;border:2px dashed #17A2B8; border-radius: 4px; padding: 1% 0% 1% 5%; margin-top: 20px; font-size: 16px;">
        @{ Html.RenderPartial("_UserInfo");}
    </div>
    <div class="Quiz">

        <div style="width: 84%; text-align:center; font-size: 17px; font-style: italic; color: #17b517; margin-top: 20px">
            <marquee style="width: 70%" direction="right" scrollamount="10" behavior="alternate">
                <span class="glyphicon glyphicon-time" style="font-size:15px"></span>
                <span id="timerText"></span>
                <span id="lbresult"></span>
            </marquee>
        </div>

        <div style=" margin-top: 15px; font-size: 26px;"> <span class="label label-info">&ensp;<span class="glyphicon glyphicon-th-list" style="font-size:17px"></span>&ensp;Questions&ensp;&ensp;</span></div>
        @if (Model != null && Model.Any())
        {

            foreach (var question in Model)
            {
                <div class="BlockQ" style="border: 1px solid #17A2B8; width: 90%; border-radius: 4px; margin-top: 40px; background-color: #f0ffff; padding: 8px;">
                    <div class="Question" style="padding: 2%;">
                        <span style="font-size: 15px" class="label label-warning"> @string.Format("{0}{1}", "Q", count)</span>
                        <span id="@string.Format("{0}{1}", "ID_Q", count)" style="display:none;">@question.QuestionID</span>
                        <p style="display: inline; padding: 2%;" id="@string.Format("{0}{1}", "Q", count)">@question.QuestionText</p>
                    </div>
                    <div class="Choices" style="margin-left: 8%;">
                        @foreach (var choice in question.Choices)
                        {
                            <label class="radio-inline">
                                <input type="radio" name="@string.Format("{0}{1}", "inlineRadioOptions",count)" id="@string.Format("{0}{1}", "inlineRadio", countR)" value="@choice.ChoiceText" style="margin-left: -16px;"> @choice.ChoiceText
                            </label><br />
                            countR++;
                        }
                    </div> <!--END Choices-->

                    <div id="@string.Format("{0}{1}{2}", "Ans","Q", count)">

                    </div>
                </div> <!-- END BlockQ -->
                count++;
            }
            <span id="countQuections" style="display:none;">@count</span>
            <button type="submit" id="SubmitQuiz" class="btn btn-info btn-lg" style=" width:20%; margin-top: 40px; margin-bottom:40px; font-size:20px"><span class="glyphicon glyphicon-ok" style="font-size:17px"></span>   Submit Quiz </button>


        }
    </div> <!-- END QUIZ -->
</div> <!-- END CONTAINER -->
@section MyScritps
{
    <script type="text/javascript">

        //Set the number of minutes you need  
        var mins = 0.5;
        var secs = mins * 6000;
        var currentSeconds = 0;
        var currentMinutes = 0;
        var ourtimer;

        function StartCountDown() {
            ourtimer = setTimeout(Decrement, 1000);
        }

        function EndCountDown() {
            clearTimeout(ourtimer);
        }  

        function Decrement() {
            currentMinutes = Math.floor(secs / 60);
            currentSeconds = secs % 60;
            if (currentSeconds <= 9) currentSeconds = "0" + currentSeconds;
            secs--;
            document.getElementById("timerText").innerHTML = "Time Remaining " + currentMinutes + ":" + currentSeconds;
            if (secs !== -1) {
                setTimeout('Decrement()', 1000);
            } else {
                window.location.href = "GetUser"
            }
        }

        $(document).ready(function () {

            //start countdown
            StartCountDown();

            $('#SubmitQuiz').on('click', function () {

                //end countdown
                EndCountDown();  

                //count Questions
                var sel = $('#countQuections').text();

                //tinh diem
                var score = 0;

                console.log(sel);

                var resultQuiz = [], countQuestion = parseInt(sel), question = {}, j = 1;

                for (var i = 1; i < countQuestion; i++) {
                    question = {
                        QuestionID: $('#ID_Q'+ i).text(),
                        QuestionText: $('#Q' + i).text(),
                        AnswerQ: $('input[name=inlineRadioOptions' + i + ']:checked').val()
                    }

                    resultQuiz.push(question);
                }

                $.ajax({

                    type: 'POST',
                    url: '@Url.Action("QuizTest", "Quizz")',
                    data: { resultQuiz },

                    success: function (response) {

                        if (response.result.length > 0)
                        {
                            for(var i = 0; i <response.result.length; i++ )
                            {
                                if(response.result[i].isCorrect == true)
                                {
                                    score++;

                                    $('#AnsQ' + j).html('<div class="alert alert-success" role="alert"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Correct answer</div>');
                                }
                                else
                                {
                                    $('#AnsQ' + j).html('<div class="alert alert-danger" role="alert"> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span> Incorrect answer - The Correct Answer is <b>' + response.result[i].AnswerQ + '</b></div>');
                                }
                                j++;
                            }
                        }
                        else
                        {
                            alert("Something Wrong");
                        }
                        
                        //alert("Your score is " + score);
                        $("#lbresult").text("Final Result : " + score);
                        $("#SubmitQuiz").attr("disabled", "disabled"); //disable button if all questions answer has been given  
                        $("#SubmitQuiz").removeClass("btn");  
                        $("#SubmitQuiz").addClass("btndiabled");

                        $("#timerText").css("display", "none"); 
                        $("input[type=radio]").attr('disabled', true); //disable all radio button after test submitted by user  
                        //return false;
                        //console.log(response.result.length);

                    },
                    error: function (response) {

                    }
                });

                console.log(resultQuiz);

            });



        });

    </script>
}

