@model Test2.viewModels.QuizVM

@{
    ViewBag.Title = "SelectQuizz";
}
    <body style="background-image: url(../../Img/banner.png); background-size: cover;">
        <div class="container">




            <div class="SelQuiz">

                <div class="panel panel-default" style="width: 46%; margin: 20% 27%; border-color: #17A2B8; text-align: center;">
                    <div class="panel-heading" style="height: 80px; font-size: 28px;color:white; background-color: #17A2B8"><p style="margin-top: 10px">Select Your Quiz !</div>
                    <div class="panel-body">

                        @using (Html.BeginForm("SelectQuizz", "Quizz", FormMethod.Post))
                        {
                            @Html.DropDownListFor(model => model.QuizID, Model.ListOfQuizz, new { @class = "form-control", @style = "margin-left: 22%; margin-top:14px; margin-bottom:6px; height: 50px" })<br />
                            <button type="submit" id="Enter" class="btn btn-info btn-lg" style="width:40%; font-size:20px"><span class="glyphicon glyphicon-ok" style="font-size:17px"></span>   Let's Go </button>
                        }

                    </div>
                </div>

            </div>

        </div>  <!-- END CONTAINER -->
    </body>