﻿@model IEnumerable<Test2.Models.Answer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnswerText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUESTION.QUESTION_TEXT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnswerText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUESTION.QUESTION_TEXT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AnswerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AnswerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AnswerID })
        </td>
    </tr>
}

</table>
