﻿@model IEnumerable<OnlineBusTicket.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cust_Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cust_Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cust_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Cust_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Cust_Id })
        </td>
    </tr>
}

</table>
