﻿@model OnlineBusTicket.Models.Bus_Route

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bus_Route</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bus_Route_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus_Route_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus_Route_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus_Route_Desc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Bus_Route_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
