﻿@model Test2.Models.EXAM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EXAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.START_DAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.START_DAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.END_DAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.END_DAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DURATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DURATION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EXAM_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
