﻿@model IEnumerable<Test2.Models.EXAM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.START_DAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.END_DAY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DURATION)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.START_DAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.END_DAY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DURATION)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EXAM_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EXAM_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EXAM_ID })
        </td>
    </tr>
}

</table>
