﻿@model OnlineBusTicket.Models.Ticket_Type

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ticket_Type</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ticket_Type_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket_Type_Desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End_Day)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End_Day)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus.Bus_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus.Bus_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket_Status.Status_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket_Status.Status_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ticket_Type_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
