﻿@model IEnumerable<OnlineBusTicket.Models.Ticket_Type>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ticket_Type_Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bus.Bus_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket_Status.Status_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket_Type_Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bus.Bus_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket_Status.Status_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ticket_Type_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ticket_Type_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ticket_Type_Id })
        </td>
    </tr>
}

</table>
