﻿@model IEnumerable<Test2.Models.Choice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ChoiceText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isAnswer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isSelected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUESTION.QUESTION_TEXT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ChoiceText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isAnswer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isSelected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QUESTION.QUESTION_TEXT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChoiceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChoiceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChoiceID })
        </td>
    </tr>
}

</table>
