﻿@model IEnumerable<OnlineBusTicket.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Created_At)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Order_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket_Type.Ticket_Type_Desc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Created_At)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Order_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket_Type.Ticket_Type_Desc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ticket_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ticket_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ticket_Id })
        </td>
    </tr>
}

</table>
