@model Test2.Models.CANDIDATE

@{
    ViewBag.Title = "Create";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body style="background-image: url('../../Img/banner3.png'); background-size: cover;">
        <div class="container">
            <div class="form-horizontal">
                <h1 style=" text-align: center; font-size: 40px; font-weight: bold; line-height: 1.41; letter-spacing: 1px; color: #17A2B8; margin: 50px 0 20px; text-transform: uppercase;">
                    Create an account
                </h1>
                <h1 style=" text-align: center; font-size: 25px; font-weight: bold; line-height: 1.41; letter-spacing: 1px; color: #17A2B8; margin: 0 0 30px; text-transform: uppercase;">
                    Candidate
                </h1>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="login-box">
                    <div class="login-left" style="width:50%;float:left">
                        <div class="form-group">
                            <label class="label">Exam ID</label><br />
                            <div class="form-g col-md-10">
                                @Html.DropDownList("EXAM_ID", null, htmlAttributes: new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" })
                                @Html.ValidationMessageFor(model => model.EXAM_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="label">First Name</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.FIRST_NAME, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.FIRST_NAME, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Last Name</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.LAST_NAME, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.LAST_NAME, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="label">User Name</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Password</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.PASS, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.PASS, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Email</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Phone Number</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.PHONE, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.PHONE, "", new { @class = "text-danger" })
                            </div>
                        </div>


                    </div>



                    <div class="login-right test" style="width:50%;float:right">
                        <div class="form-group">
                            <label class="label">Candidate 1</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.CANDIDATE1, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.CANDIDATE1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Your DOB</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Identity ID</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.IDENTITY_ID, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.IDENTITY_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Your Job</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.JOB, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.JOB, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="label">Education</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.EDUCATION, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.EDUCATION, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="label">Candidate Status</label><br />
                            <div class="form-g col-md-10">
                                @Html.EditorFor(model => model.CANDIDATE_STATUS, new { htmlAttributes = new { @class = "form-control", @style = "width:100%; height: 50px; border: double #17A2B8" } })
                                @Html.ValidationMessageFor(model => model.CANDIDATE_STATUS, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div>
                            <button type="submit" id="Enter" class="btn btn-info btn-lg" style="width:30%; font-size:20px; margin-left: 32%; margin-top: 40px ">Create</button>


                        </div>

                    </div>
                </div>
            </div>



        </div>

        <div class="have-acc clearfix">
            Have an account already?
            <a href="#" style="color: #17A2B8">Please login here</a><br />
            Or <a href="#" style="color: #17A2B8">Back to List</a><br />
        </div>

        <div>
            
        </div>

        <div class="cor-term">
            By joining Aptitude Online Tests, you agree to our
            <br><a data-toggle="modal" data-target="#modal-term" href="javascript:;">Terms of Use</a>
            and
            <a data-toggle="modal" data-target="#modal-privacy" href="javascript:;">Privacy Policy</a>
        </div>

    </body>
}




        <style type="text/css">
            .label {
display: inline-block;
    max-width: 100%;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.25;
    letter-spacing: 0.2px;
color: #17A2B8;
                margin-bottom: 7px;
    margin-left: 24%;
}

            .form-g {
position: relative;
width: 100%;
padding: 0;
    margin-bottom: 10px;
height: 40px;
    margin-left: 24%;
    
}

            .have-acc {
                text-align:center;
    font-size: 15px;
    line-height: 1.57;
    letter-spacing: 0.2px;
    color: #7a7a7a;
    margin-top: 20px;
}
            .cor-term {
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.2px;
    text-align: center;
    color: #7a7a7a;
    margin: 30px 0 40px;
}
        </style>
