﻿@model Test2.Models.CANDIDATE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CANDIDATE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CANDIDATE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANDIDATE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDENTITY_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDENTITY_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDUCATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDUCATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANDIDATE_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANDIDATE_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXAM.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXAM.NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
