﻿@model Test2.Models.CANDIDATE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CANDIDATE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CANDIDATE1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANDIDATE1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIRST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIRST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LAST_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LAST_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDENTITY_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDENTITY_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDUCATION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDUCATION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USERNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USERNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PASS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PASS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANDIDATE_STATUS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANDIDATE_STATUS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXAM.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXAM.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CANDIDATE_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
