﻿@model OnlineBusTicket.Models.Ticket_Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Ticket_Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer_Order.Customer_Order_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer_Order.Customer_Order_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ticket.Ticket_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ticket.Ticket_Id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ticket_Order_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
