﻿@model IEnumerable<OnlineBusTicket.Models.Ticket_Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer_Order.Customer_Order_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ticket.Ticket_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer_Order.Customer_Order_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ticket.Ticket_Id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ticket_Order_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ticket_Order_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ticket_Order_Id })
        </td>
    </tr>
}

</table>
