﻿@model Test2.Models.EXAM_SUBJECT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EXAM_SUBJECT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUBJECT_DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUBJECT_DESCRIPTION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SUBJECT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
