﻿@model OnlineBusTicket.Models.Bus

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Bus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bus_Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus_Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bus_Desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bus_Desc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Bus_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
