﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<<div class="row">
    <div class="col-md-4">
        <h2>Information Question </h2>
        <p>

        </p>
        <p><a> @Html.ActionLink("Question", "Index", "QUESTIONs") Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Choose Choice</h2>
        <p></p>
        <p><a @Html.ActionLink("Choice", "Index", "Choices")>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About Answer</h2>
        <p></p>
        <p><a @Html.ActionLink("Answer", "Index", "ANSWERs")>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Information Candidate
        </h2>
        <p><a @Html.ActionLink("Candidate","Index","CANDIDATEs")>Learn more &raquo;</a></p>
    </div>
</div>
