﻿@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1></h1>
    <p class="lead">The Webster organisation is the leading organization in the world of Oil-Gas Company.  They have various branches throughout the world.  It has various bonds with different multi-national company. The company wants an application to be build for the jobseeker where the entire candidate as per to the criteria will appear for the online test and based on the result of this the candidate will go for further rounds.  .</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>General Knowledge </h2>
        <p>
           
        </p>
        <p><a> @Html.ActionLink("Start Exam","GetUser","Quizz") Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Mathematics</h2>
        <p></p>
        <p><a @Html.ActionLink("Start Exam","GetUser","Quizz")>Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Computer Technology</h2>
        <p></p>
        <p><a @Html.ActionLink("Start Exam","GetUser","Quizz")>Learn more &raquo;</a></p>
    </div>
</div>